*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f4dd79;
    font-weight: bold;
}

h1{
    margin: 20px 0px;
    text-align: center;
}

.inputLabel{
    margin: 20px auto 5px;
    max-width: fit-content;
    font-size: larger;
}

input{
    margin: 5px auto;
    padding: 10px;
    border-radius: 20px;
}

button{
    display: block;
    background-color:#f4d179 ;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    margin: 10px auto;
}

#message{
    color: rgb(189, 9, 9);
    text-align: center;
    margin-top: 10px;
    font-size: larger;
}

#lista, #addAlbum, #information{
    margin: auto;
    max-width: fit-content;
    background-color: #f4e979;
    padding: 20px;
    border-radius: 20px;
}

#updateField{
    background-color: #f4e979;
    padding: 10px;
    border-radius: 20px;
}
