*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#fotarolo
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#tarolo1{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: purple;
    align-items: center;
    padding-left: 2.5%;
}

.elem1-1{
    height: 30px;
    width: 100px;
    background-color: aqua;
    margin-right: 15px;
}

#tarolo2
{
    width: 95%;
    height: 600px;
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    
}
#elem2-1
{
    flex: 2;
    background-color: yellow;
    height: 100%;
    order: 2;
   
}
#elem2-2
{
    flex: 1;
    background-color: green;
    height: 100%;
    order: 1;
}
#tarolo2>div{
    margin: 5px;
}
#tarolo3
{
    margin-top: 10px;
    width: 95%;;
    background-color: gray;
    height: 50px;
    
}