.lightTheme
{
    border: 3px rgb(168, 122, 13) solid;
    background-color: rgb(233, 173, 20);
    color: black;
}

input:nth-of-type(2).lightTheme,input:nth-of-type(3).lightTheme,input:nth-of-type(4).lightTheme{
    background-color: rgb(233, 187, 20);
}
body.lightTheme{
    background-color: wheat;
    border: 0;
}

.darkTheme
{
    border: 3px rgb(0, 0, 0) solid;
    background-color: rgb(37, 37, 37);
    color: white;
}

input:nth-of-type(2).darkTheme,input:nth-of-type(3).darkTheme,input:nth-of-type(4).darkTheme{
    background-color: rgb(30, 30, 30);
}
body.darkTheme{
    border: 0;
    background-color: rgb(47, 47, 47);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

form{
    border-radius: 20px;
    padding: 20px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
input:nth-of-type(1)
{
    border-radius: 20px;
    width: 90%;
    height: 30px;
}

h1, h2{
    margin: 30px auto;
    width: fit-content;
}

#userDatas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    max-height: 400px;
    overflow-y: auto;
}

input:nth-of-type(2),input:nth-of-type(3),input:nth-of-type(4)
{
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
    margin: 20px auto 10px auto;
}

@media screen and (max-width: 600px) {
    form{
        width: 50%;
    }
}
@media screen and (min-width: 601px) {
    form{
        width: 30%;
    }
}